@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* border: 1px solid yellow; */
}

body {
    font-family: 'Roboto', sans-serif;
    font: size 16px;
    line-height: 1.5;
    color: #fff;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul li {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    color: #fff;
    /* height: 100px; */
}

.navbar .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.navbar a {
    color: #e5e7eb;
    text-decoration:none;
    font-size: 18px;
    font-weight:light;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #1f2937;
    flex-wrap: wrap;
}
.navlinks .nav {
    display: flex;
    gap: 3rem;
}

.header-hero,
.navbar,
.footer {
    /* background-color: #1f2937; */
}

.header-hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 400px;
    background-color: #1f2937;
}

.header-hero h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header-hero p {
    font-size: 18px;
    color: #e5e7eb;
}


.hero-image {
    height: 250px;
    width: 100%;
    object-fit: contain;
    background-image:url(https://fakeimg.pl/600x400?text=Placeholder+Image);
    background-size: contain;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

/* .header-hero img {
    max-width: 100%;
    max-height: 100%;
} */

.boxes .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
    gap: 2rem;
}

.box-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.boxes .box {
    width: 200px;
}

.boxes .box-rect {
    width: 200px;
    max-width: 100%;
    max-height: auto;
    height: 200px;
    background-color: #fff;
    border: 2px solid blue;
    border-radius: 8px;
}

.box p {
    text-align: center;
}

.box-title {
    font-size: 36px;
    color: #1f2937;
    font-weight:bolder;
}

.box-content {
    font-size: 18px;
    color: #1f2937;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 400px;
    background-color: #e5e7eb;
}

.quote-author {
    font-size: 18px;
    color:#1f2937;
    font-weight: bold;

}

/* .quote-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

} */

.quote-text {
    color: #1f2937;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
}

.cta .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.cta-inner {
    display: flex;
    justify-content: space-around;
    gap:3rem;
    align-items: center;
    max-width: 700px;
    height: 80px;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 20px;
}

.signup {
    background: #3882f6;
    padding: 5px;
    min-width: 80px;
    min-height: 25px;
    color: #fff;
}

.header-hero .signup {
    border:none;
    border-radius: 5px;
}

.cta .signup {
    border-color: #fff;
    border:2px solid white;
    border-radius: 5px;
}

.footer .container {
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .navbar .container {
        justify-content: center;
  }

  .header-hero .container {
        flex-wrap: wrap-reverse;
        justify-content: center;
        height: max-content;
        text-align: center;
        padding: 20px;
    }

    .boxes .container {
        flex-direction: row;
        flex-wrap: wrap;
        height: max-content;
        padding: 0 auto;
    }

    .box-content {
        flex-wrap: wrap;
    }

    .box-title {
        text-align: center;
    }
}